absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
antlr4-python3-runtime
astunparse
async-timeout
attrs
beautifulsoup4
black
blinker
cachetools
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
filelock
flatbuffers
fonttools
frozenlist
fsspec
fvcore
gast
gdown
gitdb
gitpython
google-pasta
grpcio
h5py
huggingface-hub
hydra-core
idna
iopath
jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
lightning-utilities
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
ml-dtypes
mpmath
multidict
mypy-extensions
namex
narwhals
networkx
numpy
omegaconf
opencv-python
opt-einsum
optree
packaging
pandas
pathspec
pillow
platformdirs
portalocker
propcache
protobuf
pyarrow
pycocotools
pydeck
pygments
pyparsing
pysocks
python-dateutil
pytorch-lightning
pytz
pyyaml
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
six
smmap
soupsieve
streamlit
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tokenizers
toml
tomli
tornado
tqdm
transformers
triton
typing-extensions
tzdata
unidecode
urllib3
vqa-python
watchdog
werkzeug
wrapt
wandb
yacs
yarl
